body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin: 0 10px;
}

header nav a {
    text-decoration: none;
    color: #333;
}

.hero-text {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}
.sample{

    height: 200px;
    background-color: gray;
    background-image: url(blackpic.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 24px;
    margin-bottom: 50px;
}

